@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* Cores extraídas da imagem 1 */
  --bg-dark: #121212;         /* Fundo externo */
  --bg-panel: #212121;        /* Fundo dos painéis internos */
  --border-main: #1a1a1a;     /* Borda preta grossa */
  --border-detail: #4d4d4d;   /* Linha de detalhe cinza */
  --text-main: #e3e3e3;
  --text-dim: #a0a0a0;
  --accent: #c1a35f;          /* Dourado do menu */
}

* {
  box-sizing: border-box;
  image-rendering: pixelated; /* Mantém os pixels nítidos */
}

body {
  margin: 0;
  background-color: #050505;
  color: var(--text-main);
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}

/* O container que segura o App inteiro */
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Scrollbar estilo Retro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--border-main);
}
::-webkit-scrollbar-thumb {
  background: var(--border-detail);
  border: 2px solid var(--border-main);
}